<a href="/wada-test/cat/{{ cname }}">質問一覧に戻る</a>

<p>タイトル：{{ title }}</p>
<p>内容</p>
{{{ q.cooked }}}

<br>
<span>{{ details.created_by.name }}が{{ fmsFormatDate created_at }}に投稿しました。</span>
<br>
<button>回答する</button>
<br>

回答の件数：{{ answers.length }}件

{{#each answers as |p|}}
  <hr>
  {{{ p.cooked }}}
  <span>{{ p.name }}</span>&nbsp;<span>{{ fmsFormatDate p.created_at }}</span>
{{/each}}
